
<div class="row">
  <div class="alpha ten columns">

    <%= form.field_container :title do %>
      <%= form.label :title, Spree.t(:title) %> <span class="required">*</span><br />
      <%= form.text_field :title, :class => 'fullwidth title' %>
      <%= form.error_message_on :title %>
    <% end %>

    <%= form.field_container :permalink do %>
      <%= form.label :permalink, Spree.t(:permalink) %> <span class="required">*</span><br />
      <%= form.text_field :permalink, :class => 'fullwidth' %>
      <%= form.error_message_on :permalink %>
    <% end %>

    <%= form.field_container :category_list do %>
      <%= form.label :category_list, Spree.t(:category_list)  %><br />
      <%= form.text_field :category_list, :class => 'fullwidth' %>
    <% end %>

    <%= form.field_container :tag_list do %>
      <%= form.label :tag_list, Spree.t(:tag_list) %><br />
      <%= form.text_field :tag_list, :class => 'fullwidth' %>
    <% end %>

    <% unless Rails.env.test? %>
      <script>
        $("#blog_entry_tag_list").select2({tags: <%= Spree::BlogEntry.tag_counts_on(:tags).map{|t| t.name }.to_json.html_safe %> });
        $("#blog_entry_category_list").select2({tags: <%= Spree::BlogEntry.tag_counts_on(:categories).map{|t| t.name }.to_json.html_safe %> });
      </script>
    <% end %>

    <div class="columns five alpha">
      <%= form.field_container :published_at do %>
        <%= form.label :published_at, Spree.t(:published_at) %><br />
        <%= form.error_message_on :published_at %>
        <% if @blog_entry.published_at? %>
          <% published_at = l(@blog_entry.published_at, :format => Spree.t('date_picker.format')) %>
        <% else %>
          <% published_at = nil %>
        <% end %>
        <%= form.text_field :published_at, :value => published_at, :class => 'datepicker' %>
      <% end %>
    </div>

    <div class="columns five omega">
      <%= form.field_container :visible do %>
        <%= form.label :visible, Spree.t(:visible) %><br />
        <%= form.check_box :visible %>
        <%= form.error_message_on :visible %>
      <% end %>
    </div>

  </div>

  <div class="omega six columns">
    <%= form.field_container :author_id do %>
      <%= form.label :author_id, Spree.t(:author_id) %><br />
      <%= form.select :author_id, Spree.user_class.joins(:spree_roles).where("#{Spree::Role.table_name}.name" => "blogger").collect {|u| [u.email, u.id]}, {:include_blank => true}, :class => 'select2' %>
    <% end %>

    <%= field_set_tag Spree.t(:images) do %>
      <% @blog_entry.blog_entry_images.each do |image| %>
        <%= link_to image_tag(image.attachment.url(:mini)), image.attachment.url(:large) %>
      <% end %>
    <% end %>

    <%= field_set_tag Spree.t(:upload) do %>
      <%= file_field_tag "attachments_array[]", type: :file, multiple: true %>

    <% end %>
  </div>
</div>

<%= form.field_container :body do %>
  <%= form.label :body %> <span class="required">*</span><br />
  <%= form.text_area :body, {:cols => 60, :rows => 25, :class => 'fullwidth', :id => 'blog_entry_body'} %>
  <%= form.error_message_on :body %>
<% end %>

<%= form.field_container :summary do %>
  <%= form.label :summary %><br />
  <%= form.text_area :summary, {:cols => 60, :rows => 4, :class => 'fullwidth', :id => 'blog_entry_summary'} %>
  <%= form.error_message_on :summary %>
<% end %>

<%= form.field_container :meta_title do %>
  <%= form.label :meta_title, Spree.t(:meta_title) %><br />
  <%= form.text_field :meta_title, :class => 'fullwidth' %>
  <%= form.error_message_on :meta_title %>
<% end %>

<%= form.field_container :meta_description do %>
  <%= form.label :meta_description, Spree.t(:meta_description) %><br />
  <%= form.text_field :meta_description, :class => 'fullwidth' %>
  <%= form.error_message_on :meta_description %>
<% end %>